body,
html {
  height: 100%;
  width: 100%;
}

iframe {
  max-width: 755px;
  max-height: 100%;
  border-radius: 3px;
  margin: 5px;
}

span {
  color: #393939;
  font-weight: 900;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #267cb9;
}

img#profileImg {
  width: 200px;
  margin-bottom: 25px;
}

#scrollArea img.horizontal {
  object-fit: cover;
  width: 370px;
  height: 250px;
  margin: 5px;
}

#scrollArea img.vertical {
  object-fit: cover;
  width: 200px;
  height: 400px;
  margin: 5px;
}

.addPadding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-link a {
  background-color: #fff transparent !important;
}

p,
h1,
h2,
h3 {
  line-height: 1.2;
}

h1 a,
h2 {
  font-size: 22px;
  color: #393939;
}

h3 {
  font-size: 18px;
  color: #267cb9;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  font-size: 16px;
  color: #393939;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#scrollArea {
  overflow-y: scroll;
  max-height: 600px;
  max-width: 850px;
  margin: auto;
  padding: 10px;
}

#navbar-example2 {
  margin: auto;
  padding: 0px;
}

.navbar-brand {
  margin-bottom: 14px;
}

.projectTitle {
  background-color: #267cb9;
  border-radius: 3px;
  padding-left: 10px;
  color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 576px) {
  #container_right {
    width: 520px;
  }
}

@media (min-width: 768px) {
  #container_right {
    width: 450px;
  }
}

@media (min-width: 992px) {
  #container_right {
    width: 530px;
  }
}

@media (min-width: 1200px) {
  #container_right {
    width: 730px;
  }
}

@media (min-width: 1400px) {
  #container_right {
    width: 850px;
  }
}
